@charset "utf-8";
/* CSS Document */
body{
 background-color: bisque;
	font-family: arial;
}
.article-container{
	widows: 900px;
	background-color: #fff;
	padding: 30px;
}
article-box{
	padding-bottom: 30px;
	width: 100%;
}
input{
	padding: 0px 20px;
	widows: 300px;
	height: 40px;
	font-size: 22px;
}
button{
	width: 100px;
	height: 44px;
	font-size: 22px;
}